

/* Scrolling CSS */

html {
    scroll-behavior: smooth;
  }

/* a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
} */

/* Navigation CSS */

div.topnav {
    text-align: center;
    padding: 50px;
    
}

.topnav a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.topnav a:visited {
    color: black;
    text-decoration: none;
}

ul.nav {
    list-style-type: none;
}



h1.hero {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
  }